{% extends "slowork/base.html" %}

{% block title %}My Submissions · Slowork{% endblock %}

{% block content %}
<section>
    <h2>My Work Submissions</h2>
    {% if submissions %}
        <ul>
            {% for submission in submissions %}
                <li>
                    <h3><a href="{% url 'job_detail' submission.job.pk %}">{{ submission.job.title }}</a></h3>
                    <p>
                        <strong>Status:</strong> {{ submission.get_status_display }}
                    </p>
                     {% if submission.text_notes %}
                        <blockquote>{{ submission.text_notes|linebreaks }}</blockquote>
                    {% endif %}
                    {% if submission.files.all %}
                        <p><strong>Files submitted:</strong></p>
                        <ul>
                            {% for file in submission.files.all %}
                                <li><a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"file/" }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p>
                        Submitted {{ submission.created_at|timesince }} ago
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not submitted any work yet.</p>
    {% endif %}
</section>
{% endblock %}